.findex-window {
    background: transparent;
}

.findex-container {
    border-radius: 8px;
    border: 8px solid Lime;
    background: White;
}

.findex-query {
    padding: 20px 20px 20px 30px;
    font-size: 32px;
    font-weight: 900;
    text-shadow: -2px -2px 2px;
    text-shadow: 2px 2px 2px;
    caret-color: Brown;
    border: none;
    border-radius: 0px;
}


.findex-result-icon {
    margin: 0px 10px 10px 10px;
}

.findex-result-app-name {
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    margin: -7px 7px;
}


.findex-result-app-description {
    font-style: italic;
    opacity: 0.7;
    margin: -7px 4px;
}

.findex-result-app-command {
    opacity: 0.4;
    margin: -7px 0px;
    font-stretch: extra-condensed;
}
